<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
<head>
	<title>Lista dos Próximos Voos</title>
</head>
<body>
<section layout:fragment="conteudo">
<div class="page-header">
		<div class="container-fluid">
			<h1>
				Lista dos Próximos Voos
			</h1>
		</div>
	</div>
	<div class="container-fluid">
	<form th:action="@{/pedido/realizarCompra}" method="post" th:object="${pedido}">
		<table>
		<tr>
		<th>Id do Voo</th>
		<th>Origem</th>
		<th>Destino</th>
		<th>Data Partida</th>
		<th>Preço Passagem</th>
		<th>Assentos disponíveis</th>
		<th>Assentos disponíveis</th>
		</tr>
		<tr th:each="voo : ${voos}">
			<td th:text="${voo.id}"><a href="#"></a></td>
			<td th:text="${voo.origem}"><a href="#"></a></td>
			<td th:text="${voo.destino}"></td>
			<td th:text="${voo.horaPartida}"></td>
			<td th:text="${voo.precoPassagem}"></td>
			<!-- <td th:text="${voo.valor}"></td> -->
			<td th:each="aeronave : ${avioes}" th:text="${aeronave.numAssentos} - ${voo.assentosOcupados}"></td>
			<td th:text="${voo.id}"></td>
				</tr>
			</table>
			<label for="voo">Id do voo</label>
			<input type="text" id="voo" th:field="*{voo}" />
			<label for="usuario">Usuario</label>
			<input type="text" id="usuario" th:field="*{usuario}"/>
			<label for="totalMilhas">Total de Milhas</label>
			<input type="text" id="totalMilhas" th:field="*{totalMilhas}"/>
			<label for="numPassagem">Número de Passagens</label>
			<input type="number" id="numPassagem" th:field="*{numPassagem}" />
			 <input type="hidden" 
           th:name="${_csrf.parameterName}" 
           th:value="${_csrf.token}" />
			
			<input type="submit" value="Comprar Passagem" />
	</form>
	</div>
	</section>
</body>
</html>